.Layout {
  display: grid;
  gap: var(--spacing-medium);
  max-width: 100%;
}

.Actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.GenerationRange {
  max-width: 300px;
}

.Charts {
  display: grid;
  gap: var(--spacing-medium);
  grid-template-columns: minmax(0, auto);
}

@media only screen and (min-width: 1280px) {
  .Charts {
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  }
}

.ChartContainer {
  max-width: 640px;
}

.PopulationsChartContainer {
  height: 12rem;
  max-width: 640px;
}

.Creatures {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-medium);
}
