@use '../../../../styles/properties';

:global {
  checkbox-input-field,
  number-input-field,
  range-input-field {
    display: block;
  }
}

.InputContainer {
  display: block;
}

.InputLabelContent {
  margin-block-end: properties.get-value('base', 'spacing', 'xxs', 'rem');
}

.NumberInputField,
.RangeInputField {
  width: 100%;
}

.CheckboxInputField {
  align-items: center;
  display: inline-flex;
  gap: properties.get-value('base', 'spacing', 'xxs', 'rem');
}
