html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

:local(.Root) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-large);
}

:local(.ExampleContainer) {
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 1rem;
  min-height: 0px;
  position: relative;
}
