:local(.Root) {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  widows: 2;
  orphans: 2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

:local(.Root h3), :local(.Root h4), :local(.Root h5) {
  font-size: 100%;
  page-break-after: avoid;
  page-break-inside: avoid;
  line-height: 1.2;
  hyphens: manual;
}

:local(.Root p) {
  margin: 1em 0;
}

:local(.Root h3) {
	font-size: 120%;
  background: transparent;
  color: #005A9C;
}

:local(.Root h4) {
  margin-top: 2rem;
}

:local(.ResultsSummary) {
  margin-bottom: 40px;
}

:local(.Row) {

}

:local(.GridCell) {
  display: inline-block;
  position: relative;
}

:local(.GridCell:focus), :local(.GridCell *:focus) {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
}

:local(.Hidden) {
  display: none;
}

:local(.ResultHeader) {
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

:local(.Root a) {
  border-bottom: 1px solid #707070;
  color: #034575;
  display: inline-block;
  margin: 0 -1px 0;
  padding: 0 1px 0;
  position: relative;
  text-decoration: none;
}

:local(.Root a:visited) {
  border-bottom-color: #BBB;
}

:local(.Pagination) {
  margin-top: 40px;
  text-align: center;
}
