:local(.DataTable) {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  widows: 2;
  orphans: 2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  padding: var(--spacing-medium);
}

:local(.Heading) {
  margin: 0 0 1rem 0;
}

:local(.Hidden) {
  display: none;
}

:local(.Table) {
  border: hidden;
  border-collapse: collapse;
}

:local(.ColumnHeader),
:local(.Cell) {
  padding: 0.5em 1em;
  position: relative;
  text-align: start;
}

:local(.Cell) {
  border-top: 1px solid grey;
}

:local(.Cell:focus),
:local(.Cell *:focus) {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
}
