:local(.Grid) {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  widows: 2;
  orphans: 2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  padding: var(--spacing-medium);
  box-sizing: border-box;
  display: table;
}

:local(.Row) {
  display: table-row;
}

:local(.ColumnHeader) {
  padding: 0.5em 1em;
  display: table-cell;
  position: relative;
  text-align: start;
}

:local(.Cell) {
  border-top: 1px solid grey;
  display: table-cell;
  padding: 0.5em 1em;
  width: 120px;
}

:local(.ColumnHeader:focus),
:local(.ColumnHeader *:focus),
:local(.Cell:focus),
:local(.Cell *:focus) {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
}
