:local(.ColumnHeader) {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 0.5em;
}

:local(.StudentColumnHeader) {
  text-align: left;
}

:local(.TextColumnHeader) {
  justify-content: center;
}
