<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>CS Learning</title>

    <meta
      name="description"
      content="Examples of things I've learned in CS topics"
    />

    <link rel="icon" href="/favicon.ico">

    {% assets %}
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
