---
showBreadcrumb: true
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ title }}</title>

    <meta
      name="description"
      content="Examples of things I've learned in CS topics"
    />

    <link rel="icon" href="/favicon.ico">

    <link href="/styles/main.css" rel="stylesheet">

    {% assets %}
  </head>

  <body class="no-transition">
    <div>
      {%- if showBreadcrumb %}
        <div class="breadcrumb-container">
        {% include 'breadcrumb.njk' %}
        </div>
      {% endif -%}

      {{ content | safe }}
    </div>

    <footer>
      <a href="https://github.com/jneander/cs.jneander.dev">
        View this site on Github
      </a>
    </footer>

    <script>
      document.body.classList.remove("no-transition");
    </script>
  </body>
</html>
