<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ title }}</title>

    <meta
      name="description"
      content="Examples of things I've learned in CS topics"
    />

    <link rel="icon" href="/favicon.ico">

    <link href="/styles/main.css" rel="stylesheet">

    {% assets %}
  </head>

  <body class="no-transition">
    {% include 'header.njk' %}

    <div>
      {{ content | safe }}
    </div>

    {% include 'footer.njk' %}

    <script>
      document.body.classList.remove("no-transition");
    </script>
  </body>
</html>
