<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}" />

    <link href="/styles/main.css" rel="stylesheet">

    {% assets %}
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
