:root {
  /* Spacing */
  --spacing-small: 0.25rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  /* Color */
  --background: #ffffff;
  --white: #ffffff;
}

body {
  background: var(--background);
  height: 100vh;
  margin: 0;
}

#app {
  height: 100vh;
}

:local(.Layout) {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

:local(.Main) {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
}
