:root {
  /* Spacing */
  --spacing-small: 0.25rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  /* Color */
  --background: #ffffff;
  --white: #ffffff;

  /* Colors */
  --text-body-color: rgb(7, 7, 6);

  --link-text-color: rgb(37, 38, 136);
  --link-text-color-hover: rgb(15, 15, 13);
  --link-text-color-active: rgb(5, 5, 5);

  --grey-dark: #c7cdd1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--background);
  height: 100vh;
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--link-text-color);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-text-color-hover);
}
