:root {
  /* Spacing */
  --spacing-small: 0.25rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  /* Color */
  --background: #ffffff;
  --white: #ffffff;

  --grey-dark: #c7cdd1;
}

body {
  background: var(--background);
  height: 100vh;
  margin: 0;
}

#app {
  height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
