<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="/">Home</a>
    </li>
    {% for item in breadcrumb %}
    <li>{% if item.href %}
      <a href="{{ item.href }}">{{ item.title }}</a>
    {% else %}
      <span>{{ item.title }}</span>
    {% endif %}</li>
    {% endfor %}
    {% if title %}
    <li>
      {{ breadcrumbTitle or title }}
    </li>
    {% endif %}</li>
  </ol>
</nav>
