<footer>
  <div class="wrapper">
    <div data-section="site-links">
      <p>Look around.</p>

      <ul class="plain" role="list">
        <li>
          <a href="/artifacts">The Toys</a>
        </li>

        <li>
          <a href="/acknowledgements">Acknowledgements</a>
        </li>
      </ul>
    </div>

    <div data-section="social-links">
      <p>Connect with me!</p>

      <ul class="plain" role="list">
        <li>
          <a href="https://www.jneander.dev">jneander.dev</a>
        </li>

        <li>
          <a href="https://masto.jln.io/@jeremy" rel="me">Mastodon</a>
        </li>

        <li>
          <a href="https://www.github.com/jneander" rel="external">GitHub</a>
        </li>

        <li>
          <a href="https://codepen.io/jneander" rel="external">CodePen</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/jeremyneander/" rel="external">LinkedIn</a>
        </li>
      </ul>
    </div>

    <p data-section="legal">
      <small>© 2017–Present Jeremy Neander.</small>
    </p>
  </div>
</footer>
