<footer>
  <div class="wrapper">
    <a href="https://github.com/jneander/cs.jneander.dev">
      View this site on Github
    </a>

    <small>© 2017–Present <a href="https://www.jneander.dev">Jeremy Neander</a>. All Rights Reserved.</small>
  </div>
</footer>
