:local(.Container) {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

:local(.FrozenSection) {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

:local(.ScrollableSection) {
  background: rgba(234, 170, 170, 0.5);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  overflow: hidden;
}

:local(.FrozenSubsectionContainer) {
  flex-grow: 0;
  flex-shrink: 0;
}

:local(.FrozenSection .FrozenSubsectionContainer) {
  background: #eeeeee;
  overflow: hidden;
}

:local(.ScrollableSection .FrozenSubsectionContainer) {
  overflow: auto;
}

:local(.ScrollableSubsectionContainer) {
  background: rgba(169, 169, 234, 0.5);
  flex-grow: 0;
  flex-shrink: 1;
  overflow: auto;
}
