.Board {
  border-collapse: collapse;
  border: 1px solid #383838;
  display: inline-block;
}

.Row {
}

.Space {
  background-color: #e5e5e6;
  border: 1px solid #383838;
  box-sizing: border-box;
  font-size: 20px;
  height: 32px;
  text-align: center;
  width: 32px;
}

.Row:nth-child(even) .Space:nth-child(even) {
  background-color: #c0c0c0;
}

.Row:nth-child(odd) .Space:nth-child(odd) {
  background-color: #c0c0c0;
}
