@use '../../../styles/properties';

.interactive-embed {
  border: 1px solid properties.get-value('base', 'color', 'grey', 850);
  background-color: properties.get-value('base', 'color', 'grey', 100);

  display: flex;
  flex-direction: column;
  height: 600px;
  max-height: calc(100dvh - properties.get-value('base', 'spacing', 'xxl', 'px'));
  max-width: 100%;

  overflow: hidden;
  resize: vertical;

  & > iframe {
    border: none;
    flex-grow: 1;
  }

  & > .description {
    padding: properties.get-value('base', 'spacing', 'm', 'px');
  }

  .full-bleed > & {
    margin: auto;
    max-width: calc(100% - properties.get-value('base', 'spacing', 'xxl', 'px'));
    width: 960px;

    resize: both;
  }
}
