@use '../../styles/properties';
@use '../../styles/shared/theme';

@for $i from 1 through 6 {
  h#{$i} {
    color: properties.get-value('element', 'h#{$i}', 'color');
    font-family: properties.get-value('element', 'h#{$i}', 'fontFamily');
    font-size: properties.get-value('element', 'h#{$i}', 'fontSize');
    font-style: properties.get-value('element', 'h#{$i}', 'fontStyle');
    font-weight: properties.get-value('element', 'h#{$i}', 'fontWeight');
    line-height: properties.get-value('element', 'h#{$i}', 'lineHeight');
    max-inline-size: properties.get-value('element', 'h#{$i}', 'maxInlineSize');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  @include theme.transition(color);
}
