:root {
  --borderColor: #c7cdd1;
  --activeBorderColor: #1790df;

  --headerBackgroundColor: #f5f5f5;

  --rowDark: #efefef;
  --rowLight: #ffffff;

  --gridSectionFrozenStartShadow: 2px 0px 2px rgba(0, 0, 0, 0.15);
  --gridSectionFrozenEndShadow: -2px 0px 2px rgba(0, 0, 0, 0.15);
}

:local(.Grid),
:local(.Grid *) {
  box-sizing: border-box;
}

:local(.Grid) {
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-family: LatoWeb, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
