@use '../../../styles/properties';

:global {
  card-splitting {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.Container {
  padding: properties.get-value('base', 'spacing', 'm', 'px');
}

.Card {
  background-color: white;
  border: 1px solid currentColor;
  border-radius: 3px;
  display: inline-block;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 5px;
  text-align: center;
  width: 2.5rem;
}

.SetMetrics {
  padding: 1rem 10px;
  height: 4.5rem;
  line-height: 3.5rem;
}
