@use '../../../styles/properties';

.interactive-region {
  border: 1px solid properties.get-value('base', 'color', 'grey', 850);
  background-color: properties.get-value('base', 'color', 'grey', 100);
  padding: properties.get-value('base', 'spacing', 'm', 'px');
  max-width: 100%;

  .full-bleed > & {
    margin: auto;
    max-width: calc(100% - properties.get-value('base', 'spacing', 'xxl', 'px'));
  }
}
