@use '../../../styles/properties';

.interactive-region {
  display: inline-block;
  border: 1px solid properties.get-value('base', 'color', 'grey', 850);
  background-color: properties.get-value('base', 'color', 'grey', 100);
  padding: properties.get-value('base', 'spacing', 'm', 'px');
}
