.Sidebar {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
}

.Nav {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.GithubLink {
  flex-basis: auto;
  text-align: center;
}
