:local(.ColumnHeader) {
  border-right: 1px solid #c7cdd1;
  display: inline-block;
  height: 100%;
  position: relative;
}

:local(.ColumnHeader:last-child) {
  border-right: none;
}

:local(.ColumnHeader),
:local(.ColumnHeader > *) {
  outline: none;
}

:local(.CellActive) {
  background: #bae1f7;
}
