@use '../../styles/properties/base/spacing';
@use '../../styles/properties/element/text';

/*
 * ======
 * Layout
 * ======
 */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.wrapper {
  width: 100%;
  margin-inline: auto;
  padding-inline: spacing.get-value('l', 'px');
}

.prose {
  &,
  & > * {
    max-inline-size: text.get-value('maxInlineSize');
  }
}

.full-bleed {
  display: block;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-inline: -50vw;
}

/*
 * =============
 * Accessibility
 * =============
 */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/*
 * =====
 * Media
 * =====
 */

img.icon,
svg.icon {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}
