---
interface Props {
  title: string
}

const {title} = Astro.props

import '../styles/main.scss'
---

<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{title}</title>

    <meta name="description" content="{{ description }}" />
  </head>

  <body class="fullscreen">
    <slot />
  </body>
</html>
