:local(.GridSection) {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
  z-index: 1;
}

:local(.GridSectionFrozenStart),
:local(.GridSectionFrozenEnd) {
  position: relative;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0px;
  z-index: 2;
}

:local(.GridSectionFrozenStart) {
  box-shadow: var(--gridSectionFrozenStartShadow);
}

:local(.GridSectionFrozenEnd) {
  box-shadow: var(--gridSectionFrozenEndShadow);
}
