.ExampleControlsContainer > *:not(:first-child) {
  margin-block-start: var(--spacing-medium);
}

.ExampleControlsRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.ChromosomeTable {
  border-collapse: collapse;
  table-layout: fixed;
}

.ChromosomeTable caption {
  font-weight: 700;
  text-align: start;
}

.ChromosomeTable th,
.ChromosomeTable td {
  padding: var(--spacing-medium);
}

.ChromosomeTable tbody th,
.ChromosomeTable tbody td {
  border-block-start: 1px solid var(--grey-dark, black);
}

.ChromosomeTable tbody tr > *:first-child {
  text-align: start;
}

.ChromosomeCell {
  word-break: break-all;
}
