@use '../../../styles/properties';

:global {
  chromosome-table {
    display: block;
  }
}

.ChromosomeTable {
  border-collapse: collapse;
  table-layout: fixed;
}

.ChromosomeTable caption {
  font-weight: 700;
  text-align: start;
}

.ChromosomeTable th,
.ChromosomeTable td {
  padding: properties.get-value('base', 'spacing', 'm', 'rem');
}

.ChromosomeTable tbody th,
.ChromosomeTable tbody td {
  border-block-start: 1px solid properties.get-value('base', 'color', 'grey', 850);
}

.ChromosomeTable tbody tr > *:first-child {
  text-align: start;
}

.ChromosomeCell {
  word-break: break-all;
}
