:local(.Cell) {
  align-items: center;
  border: 1px solid var(--borderColor);
  border-left-color: transparent;
  border-right-color: transparent;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

:local(.Cell.EvenRow) {
  background: var(--rowLight);
}

:local(.Cell.OddRow) {
  background: var(--rowDark);
}

:local(.Cell.ActiveColumn) {
  border-left-color: var(--activeBorderColor);
  border-right-color: var(--activeBorderColor);
  z-index: 2;
}

:local(.Cell.ActiveColumn.FirstRow) {
  border-top-color: var(--activeBorderColor);
}

:local(.Cell.ActiveColumn.LastRow) {
  border-bottom-color: var(--activeBorderColor);
}

:local(.Cell.ActiveRow) {
  border-top-color: var(--activeBorderColor);
  border-bottom-color: var(--activeBorderColor);
  z-index: 2;
}

:local(.Cell.ActiveRow.LastColumn) {
  border-right-color: var(--activeBorderColor);
}

:local(.Cell.ActiveRow.FirstColumn) {
  border-left-color: var(--activeBorderColor);
}

:local(.Cell.ActiveRow.ActiveColumn) {
  z-index: 3;
}

/* :local(.Cell), */
/* :local(.Cell > *) { */
/*   outline: none; */
/* } */
