.PrimaryLayout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.PrimaryLayoutContent {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
}

.PrimaryLayoutFooter {
  padding: var(--spacing-medium);
}
